body {
    background-image: url('../bin/w_2.png');
    background-repeat: repeat;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.medio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul.lista {
    padding: 20px;
    list-style: none;
}

ul.lista li {
    background: #b9f8b9;
    padding: 5px;
    margin-left: 35px;
    list-style: none;
}

.sets {
    display: flex;
    padding: 10px;
    height: 420px;
    width: 780px;
}

.lateralesTimmy {
    display: flex;
    justify-content: space-around;
}

.lateralesTimmy>img.personaje {
    margin-left: 30px;
    margin-top: 300px;
    height: auto;
    position: fixed;
}

.lateralesTimmy>img.text {
    margin-left: 70px;
    margin-top: 30px;
    width: 512px;
    height: auto;
    position: fixed;
}

.lateralesTommy {
    display: flex;
    justify-content: space-around;
}

.lateralesTommy>img.personaje {
    margin-right: 30px;
    margin-top: 300px;
    height: auto;
    position: fixed;
}

.lateralesTommy>img.text {
    padding-right: 140px;
    margin-top: 30px;
    width: 512px;
    height: auto;
    position: fixed;
}

ul.nav {
    padding-left: 0px;
    background-color: #cfffd1;
    text-align: center;
}

ul.nav>li {
    display: inline-block;
    padding: 10px 20px;
}

ul.nav>li:hover {
    background-color: #fdecfc;
}

ul.nav>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav {
    border: 2px solid rgb(194, 242, 212);
    border-radius: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(186, 255, 169);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-radius: 25px;
    z-index: 1;
}

.dropdown-content:local-link {
    color: beige;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p:hover {
    border: 2px solid rgb(235, 192, 228);
    border-radius: 25px;
    background-color: #bff2d3;
}