body {
    background-image: url('../../bin/w_winter.png');
    background-repeat: repeat;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.medio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ol {
    padding: 20px;
    list-style-image: url('../../Shops/Able/SisterImg/icon.png');
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    list-style-image: url('../../Shops/Able/SisterImg/icon.png');
}

.outfit {
    display: flex;
    padding: 10px;
    height: 400px;
    width: 900px;
}

.lateralesMable {
    display: flex;
    justify-content: space-around;
}

.lateralesMable>img.personaje {
    margin-left: 30px;
    margin-top: 300px;
    height: 350px;
    width: 258px;
    position: fixed;
}

.lateralesMable>img.text {
    margin-left: 70px;
    margin-top: 30px;
    width: 512px;
    height: auto;
    position: fixed;
}

.lateralesSable {
    display: flex;
    justify-content: space-around;
}

.lateralesSable>img.personaje {
    margin-right: 30px;
    margin-top: 300px;
    height: 350px;
    width: 258px;
    position: fixed;
}

.lateralesSable>img.text {
    padding-right: 140px;
    margin-top: 30px;
    width: 512px;
    height: auto;
    position: fixed;
}

ul.nav {
    padding-left: 0px;
    background-color: #d0d6f5;
    text-align: center;
}

ul.nav>li {
    display: inline-block;
    padding: 10px 20px;
}

ul.nav>li:hover {
    background-color: #d7eefa;
}

ul.nav>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(213, 213, 213);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-radius: 25px;
    z-index: 1;
}

.dropdown-content:local-link {
    color: beige;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p:hover {
    border: 2px solid rgb(197, 185, 195);
    border-radius: 25px;
    background-color: #e8e8e8;
}